*{
    text-decoration: none;
    /* background-color: blue; */
}
.navbar{
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 18px;
    background-color: rgb(41, 41, 41);
}
li{
    list-style-type: none;
    padding: 5px 20px;
}

